{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}
  Home
{% endblock %}

{% block content %}
  <div class="image-container">
    <div class="recipe-book-image">
      <img id="recipe-image" src="{% static 'images/recipe-book-homepage.svg' %}" alt="Recipe Book" usemap="#recipe-map" />
      <map name="recipe-map">
        <area shape="rect" coords="750, 10, 890, 200" href="{% url 'ingredients' %}" alt="Ingredients" />
        <area shape="rect" coords="750, 210, 890, 400" href="{% url 'recipes' %}" alt="Recipes" />
        <area shape="rect" coords="750, 410, 890, 590" href="{% url 'shopping_list' %}" alt="Shopping List" />
        <area shape="rect" coords="750, 600, 890, 780" href="{% url 'profile' %}" alt="Profile" />
        <area shape="rect" coords="750, 790, 890, 960" onclick="logout()" alt="Logout" />
      </map>
      <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
        {% csrf_token %}
      </form>
    </div>
  </div>
{% endblock %}
