{% extends 'recipes/base.html' %}
{% load static %}

{% block title %}
  Add New Recipe
{% endblock %}

{% block content %}
  <form id="recipe-form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="ingredients-page-container">
      <div class="left-section">
        <div class="left-section-rolls">
          <img src="{% static 'images/left-section-rolls.svg' %}" alt="Divider" />
        </div>
        <div class="left-section-header">
          {% if recipe.name %}
            <h2>{{ recipe.name }}</h2>
          {% else %}
            <h2>New Recipe</h2>
          {% endif %}
          <div class="decorator-image-left">
            <img src="{% static 'images/decorator-image-left.svg' %}" alt="Decorator" />
          </div>
        </div>
        <div class="left-section-content" id="recipe-form-left-section-content">
          <div class="form-group">
            <div class="form-name-area">
              <p style="display: inline-block; font-weight: bold;">Name:</p>
              {{ form.name }}
            </div>
          </div>
          <div id="upload-area" class="upload-area">
            <span>Upload Image (optional)</span>
            <img id="preview-image" src="" alt="Preview Image" style="display: none; max-width: 100%; height: auto; margin-top: 10px;" />
            <input type="file" id="image-upload" name="image" accept="image/*" style="display: none;" />
          </div>
          <div class="pot-image-container">
            <img src="{% static 'images/cooking-pot.svg' %}" alt="Cooking Pot" />
          </div>
        </div>
        <div class="left-section-footer">
          <div class="form-group new-recipe-submit-button">
            <button type="submit" form="recipe-form">Save Recipe</button>
          </div>
        </div>
      </div>
      <div class="right-section">
        <div class="right-section-rolls">
          <img src="{% static 'images/right-section-rolls.svg' %}" alt="Divider" />
        </div>
        <div class="right-section-content">
          <h2>Instructions</h2>
          {{ form.instructions }}
        </div>
        <div class="right-section-footer">
          <div class="decorator-image-right">
            <img src="{% static 'images/decorator-image-right.svg' %}" alt="Decorator" />
          </div>
          <div class="recipe-form-nav-buttons">
            <div id="back-button" class="back-button">
              <a href="{% url 'recipes' %}">Back</a>
            </div>
            <div id="home-button" class="home-button">
              <a href="{% url 'home' %}">Home</a>
            </div>
          </div>
        </div>
      </div>
      <div class="nav-section">
        <div id="ingredients" class="nav-item">
          <a href="{% url 'ingredients' %}">Ingredients</a>
        </div>
        <div id="recipes" class="nav-item active">Recipes</div>
        <div id="shopping-list" class="nav-item">
          <a href="{% url 'shopping_lists' %}">Shopping List</a>
        </div>
        <div id="profile" class="nav-item">
          <a href="{% url 'profile' %}">Profile</a>
        </div>
        <div id="logout" class="nav-item">
          <input type="submit" form="logout-form" value="Logout" style="all: unset; cursor: pointer;" />
        </div>
      </div>
    </div>
  </form>

  <form id="logout-form" action="{% url 'logout' %}" method="post" style="display: none;">
    {% csrf_token %}
  </form>
{% endblock %}
