{% extends 'base_public.html' %}

{% block title %}
  Login
{% endblock %}

{% block content %}
  <div class="login-page-container">
    <h1>Digital Recipe Book</h1>
    <div class="login-page-form-container">
      <form id="login-form" method="post">
        {% csrf_token %}
        <div id="username">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" />
        </div>
        <div id="password">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" />
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
{% endblock %}
